<a href="https://colab.research.google.com/github/joyce-ol/chinook_database_overview/blob/main/chinook_sqlite_joyce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Import necessary libraries
import sqlite3
import pandas as pd

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = conn.cursor()
print ("connected to the database sucessfully")

connected to the database sucessfully

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Execute a query
query = "SELECT * FROM sqlite_master where type='table'"

df = pd.read_sql_query(query, conn)
df[['type','name']]

     type           name
0   table          Album
1   table         Artist
2   table       Customer
3   table       Employee
4   table          Genre
5   table        Invoice
6   table    InvoiceLine
7   table      MediaType
8   table       Playlist
9   table  PlaylistTrack
10  table          Track

In [ ]:
# Read the first five rows from the Album table
df = pd.read_sql_query("SELECT * FROM Album limit 5", conn)
print(df)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

ANSWER TO QUESTION 1.

In [ ]:

# a query to list all tables in the Chinook database
query = "SELECT name FROM sqlite_master WHERE type = 'table'"
df = pd.read_sql_query(query, conn)
print(df)

             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

ANSWER TO QUESTION 2

In [ ]:
#a query to retrieve the top 10 records from the Albums table.
query = "SELECT *FROM Album limit 10"
df = pd.read_sql_query(query, conn)
print(df)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8

ANSWER TO QUESTION 3

Count the Number of Tracks per Genre

In [ ]:
import sqlite3
import pandas as pd
# Connect to the database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Execute the query
query = """
SELECT g.Name AS Genre, COUNT(t.TrackId) AS TrackCount
FROM Genre g
JOIN Track t ON g.GenreId = t.GenreId
GROUP BY g.GenreId, g.Name
ORDER BY TrackCount DESC limit 5;
"""

df = pd.read_sql_query(query, conn)
print(df)

                Genre  TrackCount
0                Rock        1297
1               Latin         579
2               Metal         374
3  Alternative & Punk         332
4                Jazz         130

ANSWER TO QUESTION 4

 Calculate the Total Sales by Country

In [ ]:
import sqlite3
import pandas as pd
# Connect to the database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
query = """
select BillingCountry AS country,
sum(Total)AS TotalSales
from Invoice
group by BillingCountry
order by TotalSales desc
limit 5
"""

df = pd.read_sql_query(query, conn)
print(df)

   country  TotalSales
0      USA      523.06
1   Canada      303.96
2   France      195.10
3   Brazil      190.10
4  Germany      156.48

ANSWER TO QUESTION 5

 a query to identify the top 5 customers by total purchase amount.

In [ ]:
query = """
SELECT c.CustomerId, c.FirstName || ' ' || c.LastName AS CustomerName,
       SUM(i.Total) AS TotalPurchase
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, CustomerName
ORDER BY TotalPurchase DESC
LIMIT 5;
"""
df = pd.read_sql_query(query, conn)
print(df)

   CustomerId        CustomerName  TotalPurchase
0           6         Helena Holý          49.62
1          26  Richard Cunningham          47.62
2          57          Luis Rojas          46.62
3          45     Ladislav Kovács          45.62
4          46       Hugh O'Reilly          45.62

ANSWER TO QUESTION 5
a query to find the most popular artist by total track sales

In [ ]:
query = """
SELECT ar.Name AS ArtistName, COUNT(il.TrackId) AS TotalTracksSold
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album al ON t.AlbumId = al.AlbumId
JOIN Artist ar ON al.ArtistId = ar.ArtistId
GROUP BY ar.ArtistId
ORDER BY TotalTracksSold DESC
LIMIT 1;
"""
df= pd.read_sql_query(query, conn)
print(df)

    ArtistName  TotalTracksSold
0  Iron Maiden              140

ANSWER TO QUESTION 6   
query to find the most popular artist by total track sales.

In [ ]:
query = """
SELECT e.EmployeeId, e.FirstName || ' ' || e.LastName AS EmployeeName,
       SUM(i.Total) AS TotalSales
FROM Employee e
JOIN Customer c ON e.EmployeeId = c.SupportRepId
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY e.EmployeeId
ORDER BY TotalSales DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

   EmployeeId   EmployeeName  TotalSales
0           3   Jane Peacock      833.04
1           4  Margaret Park      775.40
2           5  Steve Johnson      720.16

ANSWER TO QUESTION 7
Determine the Average Invoice Total by Customer Country

In [ ]:
query = """
SELECT BillingCountry AS Country,
       AVG(Total) AS AvgInvoiceTotal
FROM Invoice
GROUP BY BillingCountry
ORDER BY AvgInvoiceTotal DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

Question 8:
A query to Analyze Employee Sales Performance

In [ ]:
#a query to analyze the sales performance of each employee
query = """
SELECT e.EmployeeId, e.FirstName || ' ' || e.LastName AS EmployeeName,
       SUM(i.Total) AS TotalSales
FROM Employee e
JOIN Customer c ON e.EmployeeId = c.SupportRepId
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY e.EmployeeId
ORDER BY TotalSales DESC;
"""
df = pd.read_sql_query(query, conn)
print(df)

   EmployeeId   EmployeeName  TotalSales
0           3   Jane Peacock      833.04
1           4  Margaret Park      775.40
2           5  Steve Johnson      720.16

Question 9:
Identify Trends in Monthly Sales

In [ ]:
# a query to identify trends in monthly sales.
query = """
SELECT strftime('%Y-%m', InvoiceDate) AS YearMonth,
       SUM(Total) AS MonthlySales
FROM Invoice
GROUP BY YearMonth
ORDER BY YearMonth;
"""
df = pd.read_sql_query(query, conn)
print(df)

   YearMonth  MonthlySales
0    2009-01         35.64
1    2009-02         37.62
2    2009-03         37.62
3    2009-04         37.62
4    2009-05         37.62
5    2009-06         37.62
6    2009-07         37.62
7    2009-08         37.62
8    2009-09         37.62
9    2009-10         37.62
10   2009-11         37.62
11   2009-12         37.62
12   2010-01         52.62
13   2010-02         46.62
14   2010-03         44.62
15   2010-04         37.62
16   2010-05         37.62
17   2010-06         37.62
18   2010-07         37.62
19   2010-08         37.62
20   2010-09         36.63
21   2010-10         37.62
22   2010-11         37.62
23   2010-12         37.62
24   2011-01         37.62
25   2011-02         37.62
26   2011-03         37.62
27   2011-04         51.62
28   2011-05         42.62
29   2011-06         50.62
30   2011-07         37.62
31   2011-08         37.62
32   2011-09         37.62
33   2011-10         37.62
34   2011-11         23.76
35   2011-12         37.62
36   2012-01         37.62
37   2012-02         37.62
38   2012-03         37.62
39   2012-04         37.62
40   2012-05         37.62
41   2012-06         37.62
42   2012-07         39.62
43   2012-08         47.62
44   2012-09         46.71
45   2012-10         42.62
46   2012-11         37.62
47   2012-12         37.62
48   2013-01         37.62
49   2013-02         27.72
50   2013-03         37.62
51   2013-04         33.66
52   2013-05         37.62
53   2013-06         37.62
54   2013-07         37.62
55   2013-08         37.62
56   2013-09         37.62
57   2013-10         37.62
58   2013-11         49.62
59   2013-12         38.62

Question 10: Recommend Marketing Strategies Based on Data Insights

Optimize Sales by Country


 Insight: The USA, Canada, and France have the highest total sales.
Strategy:

1.  Run geo-targeted ads in these countries to boost sales.
2.  Offer regional promotions like country-specific discounts or curated playlist
3. Analyze why some countries have lower sales and adjust pricing or content accordingly.

Increase Track Sales with Bundled Offers

Insight: Customers buy tracks individually, but bundling could increase revenue.Strategy:

1. Offer discounted album bundles to encourage customers to buy full albums instead of single tracks.

2. Run "Buy 5 Tracks, Get 1 Free" promotions to boost track sales.